VITE_SUPABASE_URL=https://gignixlgksnoaztqnbpk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpZ25peGxna3Nub2F6dHFuYnBrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MzY3ODcsImV4cCI6MjA4NzUxMjc4N30.EIn8X5clx-GLfuP5Dfi45oFDsC-b82vfIkCppVgZpJk

# VODACOM (M-PESA)
MPESA_API_KEY= a1064362-d8d5-4fe5-aa2a-fe7c1710dbfa
MPESA_PUBLIC_KEY=KHFbNI0AwqAtVqBP0xmco3wG5RdueSJhy6KKNdzC
MPESA_SERVICE_PROVIDER_CODE=996801
MPESA_ENVIRONMENT=996801

# MOVITEL (E-MOLA)
EMOLA_API_KEY=a1064362-d8d5-4fe5-aa2a-fe7c1710dbfa
EMOLA_APP_ID=KHFbNI0AwqAtVqBP0xmco3wG5RdueSJhy6KKNdzC
EMOLA_ENVIRONMENT=996802
